body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.butterflyAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 

.variety{
  margin-right: 4px;
  margin-bottom: 0;
  padding: 7px;
  justify-content:center;
  font-weight: bold;
  border-bottom: 3px solid rgb(126, 7, 206);
  border-left: 3px solid  rgb(19, 29, 6);
  background-color: rgb(10, 141, 21);
  border-radius: 3px;
}

.stylesheetnew{
  border-top: 3px solid rgb(235, 177, 19);
  width: 60%;
}
.variety:hover{
background-color:black;
color: azure;
}